
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cadastrar</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/lista">Lista</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>Bucket List App</h1>
        <form class="form-signin" action="signUp" method="post" >
        <label for="inputName" class="sr-only">Nome</label><br>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Nome" required autofocus><br>
        <label for="inputEmail" class="sr-only">Email</label><br>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus><br>
        <label for="inputAddress" class="sr-only">Endereço</label><br>
        <input type="text" name="inputAddress" id="inputAddress" class="form-control" placeholder="Endereço" required><br>
        
        <button id="btnCadastrar" class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
      </form>
      </div>


    </div>
  </body>
</html>

